

<h1><%= params[:action] == "new" ? "Add a Track" : "Edit Track" %></h1>

<form action="<%= params[:action] == "new" ? album_tracks_url : track_url %>" method="post">

  <% if params[:action] != "new" %>
    <input type="hidden"
           name="_method"
          value="PUT">
  <% end %>

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <br>

    <label>Track Title
      <input type="text" name="track[track_title]"
            value="<%= params[:action] == "new" ? "" : Track.find(params[:id]).track_title %>">
    </label>

  <br>

    <label>Album
      <select name="track[album_id]" >

        <% Album.all.each do |album| %>
          <option value="<%= album.id %>"
           <%= "selected = 'selected'" if album == @album %>"
           ><%= album.album_title %></option>
        <% end %>

      </select>
    </label>

  <br>

    <label>Lyrics
      <textarea name="track[lyrics]"><%= params[:action] == "new" ? "" : Track.find(params[:id]).lyrics %></textarea>
    </label>

  <br>

    <label>Type

      <input type="radio" name="track[track_type]" id="regular" value="regular"
      <%= "checked" if @track.track_type=="regular" %>>
      <label for"regular">Regular</label>

      <input type="radio" name="track[track_type]" id="bonus" value="bonus"
      <%= "checked" if @track.track_type=="bonus" %>>
      <label for"bonus">Bonus</label>

    </label>

  <br>

  <input type="submit" value="<%= params[:action] == "new" ? "Add Track" : "Edit Track" %>">

</form>