<h1><%= @track.track_title %></h1>

<br>

  <label>Band:
    <%= link_to @track.album.band.band_name, @track.album.band %>
  </label>

<br>

  <label>Album:
    <%= link_to @track.album.album_title, @track.album %>
  </label>

<br>

  <label>Lyrics:
    <%= @track.lyrics %>
  </label>

<br>

  <label>Type:
    <%= @track.track_type %>
  </label>

<br>
  <%= button_to "Edit Track", edit_track_url, method: :get %>
  <%= button_to "Delete Track", track_url, method: :delete %>

<h3>New Note</h3>
<form action="<%= notes_url %>" method="post">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label>Title
    <input type="text" name="note[title]">
  </label>

  <label>Body
    <input type="text" name="note[body]">
  </label>

  <input type="hidden" name="note[user_id]" value="<%= current_user.id %>">
  <input type="hidden" name="note[track_id]" value="<%= params[:id] %>">

  <input type="submit" value="Create New Post">

</form>


<h3>Existing Notes</h3>
  <ol>
    <% @track.notes.each do |note| %>
    <li> <%= note.user.email %> => <%= note.title %>: <%= note.body %><%= button_to "Delete Post", note_url(note.id), method: :delete %></li>
    <br>
    <% end %>
  </ol>




