<h1><%= params[:controller] == "sessions" ? "Login" : "Sign Up" %></h1>

<form action="<%= params[:controller] == "sessions" ? session_url : users_url %>" method="post">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label>Email
  <input type="text" name="user[email]">
  </label>

  <br>

  <label>Password
  <input type="password" name="user[password]">
  </label>

  <br>

  <input type="submit" value="<%= params[:controller] == "sessions" ? "Login" : "Create User" %>">

</form>
