<h1><%= params[:action] == "new" ? "Create Album" : "Edit Album" %></h1>

<form action="<%= params[:action] == "new" ? band_albums_url : album_url %>"
      method="post">

  <% if params[:action] != "new" %>
    <input type="hidden"
           name="_method"
          value="PUT">
  <% end %>

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <h2><%= @band.band_name %></h2>


  <br>

    <label>Album Title
      <input type="text" name="album[album_title]"
      value="<%= params[:action] == "new" ? "" : Album.find(params[:id]).album_title %>">
    </label>

  <br>

    <label>Band
      <select name="album[band_id]" >

        <% Band.all.each do |band| %>
          <option value="<%= band.id %>"
           <%= "selected = 'selected'" if band == @band %>"
           ><%= band.band_name %></option>
        <% end %>

      </select>
    </label>

  <br>

    <label>Type

      <input type="radio" name="album[album_type]" id="live" value="live"
      <%= "checked" if @album.album_type=="live" %>>
      <label for"live">Live</label>

      <input type="radio" name="album[album_type]" id="studio" value="studio"
      <%= "checked" if @album.album_type=="studio" %>>
      <label for"live">Studio</label>

    </label>

  <br>

  <input type="submit" value="<%= params[:action] == "new" ? "Create Album" : "Edit Album" %>">


</form>