<h1><%= @album.album_title %></h1>

<br>

  <label>Band:
    <%= link_to @album.band.band_name, @album.band %>
  </label>

<br>

  <label>Tracks:
    <ul>
        <% @album.tracks.each do |track| %>
          <li><%= link_to track.track_title, track %></li>
        <% end %>
    </ul>
  </label>

<br>

  <label>Type:
    <%= @album.album_type %>
  </label>

<br>

  <%= button_to "Edit Album", edit_album_url, method: :get %>
  <%= button_to "Delete Album", album_url, method: :delete %>