

<h1><%= params[:action] == "new" ? "Add a Band" : "Edit Band" %></h1>

<form action="<%= params[:action] == "new" ? bands_url : band_url %>" method="post">

  <% if params[:action] != "new" %>
    <input type="hidden"
           name="_method"
          value="PUT">
  <% end %>

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label>Band Name
    <input type="text" name="band[band_name]" value="<%= @band.band_name %>">
  </label>

  <input type="submit" value="<%= params[:action] == "new" ? "Add Band" : "Edit Band" %>">

</form>