<h1><%= @band.band_name %></h1>
<ul>
    <% @band.albums.each do |album| %>
      <li><%= link_to album.album_title, album %></li>
      <ol>
        <% album.tracks.each do |track| %>
          <li><%= link_to track.track_title, track %></li>
        <% end %>
      </ol>
    <% end %>
</ul>

<br>

<%= button_to "Edit Band", edit_band_url, method: :get %>
<%= button_to "Delete Band", band_url, method: :delete %>
