<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if !logged_in? %>
    <% if (params[:controller] != "sessions" && params[:action] != "get ") && (params[:controller] != "users" && params[:action] != "get ") %>
      <%= button_to "Login", new_session_url , method: :get %>
      <%= button_to "Sign Up", new_user_url , method: :get %>
    <% end %>
  <% else %>
    <%= button_to "Logout", session_url , method: :delete %>
  <% end %>


  <%= button_to "Bands Index", bands_url , method: :get %>


<%= yield %>

</body>
</html>
